/* style.css */

.NewsFilterContainer {
  margin-bottom: 20px;
}

.FilterHeading {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.CategoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

button {
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}


button.active {
  background-color: #0b2435;
  color: #fff; 
}

button:hover {
  background-color: #2c3e50;
}
