/* SearchInput.css */

.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px; /* Set the border-radius for rounded corners */
  margin-right: 10px;
  width: 80%;
  background-color: rgb(237, 237, 237)
}

.search-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #808080;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #282828;
}
